button{
    width: 120px;
}

#button-div{
    display:flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
    bottom: 20px;
    width: 100%;
    z-index: 1;
   
}